* /*select universel*/
	{
	font-family: 'Dancing Script', cursive;
		background-color : white ;
	}
	
/*Zone scrollbar*/
	.divScroll {
	overflow:scroll;
	height:200px;
	width:700px;
	}

/*Zone informations*/
	.statistiques
	{
		position:absolute;
		left: 1100px;
		top:200px;
		background-color:white ;
		color: purple ;
		font-size : 20px;
		border-width:1px;
		border-style:inset;
		border-color:grey;
		padding:5px;
	}

/*Police du titre*/
mark{
	color : purple ;
	background-color : white ;
	font-weight : bold;
	font-size : 100px;
	text-align : center ;
	}
body{
	background-color : white ;
	color : #5d665b ;
	margin : 100px ;
	font-size : x-large;
	margi,-left : 170px;
	}
	
footer {
		bottom: 0px;
		text-align: center;
		width: 100%;
		}
		
header {
	position:fixed ;
	top:0px;
	width: 100%;
	}
	
.logo
	{
	position : top right;
	}